<h1 mat-dialog-title>{{ messages.create.title }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input formControlName="name" id="name" matInput
             placeholder="{{ messages.name }}" required>

      <mat-error *ngIf="form.controls['name'].hasError('required')">
        {{ messages.create.errors.requiredField }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="address" id="address" matInput
             placeholder="{{ messages.address }}" required>

      <mat-error *ngIf="form.controls['address'].hasError('required')">
        {{ messages.create.errors.requiredField }}
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button (click)="addChurch()" [disabled]="!this.form.valid" color="primary" mat-fab
          matTooltip="{{ messages.create.add }}">
    <fa name="plus"></fa>
  </button>
  <button (click)="onNoClick()" color="warn" mat-fab matTooltip="{{ messages.create.cancel }}">
    <fa name="times"></fa>
  </button>
</div>
