<div>
  <nb-card [accent]=setColor(form) class="cards">
    <nb-card-header>{{messages.novia}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form">
        <mat-form-field>
          <input formControlName="names" id="names" matInput
                 placeholder="{{ messages.names }}" required>

          <mat-error *ngIf="form.controls['names'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="lastNames" id="lastNames" matInput
                 placeholder="{{ messages.lastNames }}" required>

          <mat-error *ngIf="form.controls['lastNames'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field>
          <mat-select formControlName="documentType" id="documentType" placeholder="{{ messages.documentType }}"
                      required>

            <mat-option *ngFor="let documentType of docTypes" [value]=documentType>
              {{ documentType.idType }} - {{ documentType.name }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="form.controls['documentType'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="documentNumber" id="documentNumber" matInput
                 placeholder="{{ messages.documentNumber }}" required>

          <mat-error *ngIf="form.controls['documentNumber'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
          <mat-error *ngIf="form.controls['documentNumber'].hasError('pattern')">
            {{ messages.create.errors.invalidDocNumber }}
          </mat-error>
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field>
          <input formControlName="civilRegNumber" id="civilRegNumber" matInput
                 placeholder="{{ messages.civilRegNumber }}" required>

          <mat-error *ngIf="form.controls['civilRegNumber'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
          <mat-error *ngIf="form.controls['documentNumber'].hasError('pattern')">
            {{ messages.create.errors.invalidDocNumber }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="notaria" id="notaria" matInput
                 placeholder="{{ messages.notaria }}" required>

          <mat-error *ngIf="form.controls['notaria'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
        </mat-form-field>
      </form>
    </nb-card-body>
  </nb-card>
  <nb-card [accent]=setColor(form1) class="cards">
    <nb-card-header>{{messages.novio}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form1">
        <mat-form-field>
          <input formControlName="names" id="names1" matInput
                 placeholder="{{ messages.names }}" required>

          <mat-error *ngIf="form1.controls['names'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="lastNames" id="lastNames1" matInput
                 placeholder="{{ messages.lastNames }}" required>

          <mat-error *ngIf="form1.controls['lastNames'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field>
          <mat-select formControlName="documentType" id="documentType1" placeholder="{{ messages.documentType }}"
                      required>

            <mat-option *ngFor="let documentType of docTypes" [value]=documentType>
              {{ documentType.idType }} - {{ documentType.name }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="form1.controls['documentType'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="documentNumber" id="documentNumber1" matInput
                 placeholder="{{ messages.documentNumber }}" required>

          <mat-error *ngIf="form1.controls['documentNumber'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
          <mat-error *ngIf="form1.controls['documentNumber'].hasError('pattern')">
            {{ messages.create.errors.invalidDocNumber }}
          </mat-error>
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field>
          <input formControlName="civilRegNumber" id="civilRegNumber1" matInput
                 placeholder="{{ messages.civilRegNumber }}" required>

          <mat-error *ngIf="form1.controls['civilRegNumber'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
          <mat-error *ngIf="form1.controls['documentNumber'].hasError('pattern')">
            {{ messages.create.errors.invalidDocNumber }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="notaria" id="notaria1" matInput
                 placeholder="{{ messages.notaria }}" required>

          <mat-error *ngIf="form1.controls['notaria'].hasError('required')">
            {{ messages.create.errors.requiredField }}
          </mat-error>
        </mat-form-field>
      </form>
    </nb-card-body>
  </nb-card>
</div>
