<h1>
  {{messages.title}}
</h1>
<nb-stepper #stepper class="header" linear orientation="vertical">
  <nb-step [label]="messages.contrayente" [stepControl]="contrayentesFormData">
    <form [formGroup]="contrayentesFormData">
      <h3>{{messages.contrayente}}</h3>
      <app-contrayente-create></app-contrayente-create>
      <button disabled nbButton nbStepperPrevious>{{messages.prevStep}}</button>
      <button (click)="saveContrayentes(contrayenteCreatePointer)" [disabled]=isDisabled()
              nbButton
              nbStepperNext>{{messages.nextStep}}</button>
      <input
        *ngIf="isDisabled() ?
        this.contrayentesFormData.controls.contrayenteCtrl.setValue(null) :
        this.contrayentesFormData.controls.contrayenteCtrl.setValue('valid')"
        formControlName="contrayenteCtrl">
    </form>
  </nb-step>

  <nb-step [label]="messages.marriageData" [stepControl]="marriageData">
    <form [formGroup]="marriageData">
      <h3>{{messages.marriageData}}</h3>
      <nb-card [accent]=isValid()>
        <nb-card-body>
          <mat-form-field>
            <mat-select (selectionChange)="getChurches($event.value)" formControlName="district" id="district"
                        placeholder="{{ messages.district }}"
                        required>

              <mat-option *ngFor="let distrito of distritos" [value]=distrito.name>
                {{ distrito.name }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="marriageData.controls['church'].hasError('required')">
              {{ messages.errors.requiredField }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="church" id="church" placeholder="{{ messages.church }}" required>

              <mat-option *ngFor="let church of churches" [value]=church>
                {{ church.name }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="marriageData.controls['church'].hasError('required')">
              {{ messages.errors.requiredField }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="pastor" id="pastor" placeholder="{{ messages.pastor }}" required>

              <mat-option *ngFor="let pastor of pastors" [value]=pastor>
                {{ pastor.names }} {{ pastor.lastNames }}
              </mat-option>
            </mat-select>

            <mat-error *ngIf="marriageData.controls['church'].hasError('required')">
              {{ messages.errors.requiredField }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input [matDatepicker]="picker" formControlName="date"
                   id="date" matInput placeholder="{{ messages.date }}">
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="marriageData.controls['date'].hasError('required')">
              {{ messages.errors.requiredField }}
            </mat-error>
          </mat-form-field>
          <mat-divider></mat-divider>
          <mat-form-field>
            <input formControlName="regNumber" id="regNumber" matInput
                   placeholder="{{ messages.regNumber }}" required>

            <mat-error *ngIf="marriageData.controls['regNumber'].hasError('required')">
              {{ messages.errors.requiredField }}
            </mat-error>
            <mat-error *ngIf="marriageData.controls['regNumber'].hasError('pattern')">
              {{ messages.errors.invalidRegNumber }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="actaNumber" id="actaNumber" matInput
                   placeholder="{{ messages.actaNumber }}" required>

            <mat-error *ngIf="marriageData.controls['actaNumber'].hasError('required')">
              {{ messages.errors.requiredField }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="notaria" id="notaria" matInput
                   placeholder="{{ messages.notaria }}" required>

            <mat-error *ngIf="marriageData.controls['notaria'].hasError('required')">
              {{ messages.errors.requiredField }}
            </mat-error>
          </mat-form-field>
        </nb-card-body>
      </nb-card>
      <button nbButton nbStepperPrevious>{{messages.prevStep}}</button>
      <button (click)=saveMarriage() [disabled]="!this.marriageData.valid" nbButton
              status="success">{{messages.save}}</button>
    </form>
  </nb-step>
</nb-stepper>
<p *ngIf=!auth.isAuthenticated()>NO ESTA MOSTRADO</p>
