<nb-layout>

  <nb-layout-header subheader>
    <div class="logo-container">
      <a (click)="toggle()" href="#" class="navigation">
        <fa name="bars"></fa>
      </a>
      <div class="logo">SGM -
        <span> Sistema de Gestión de Matrimonios </span>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items" autoCollapse="true">
    </nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <toaster-container></toaster-container>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
